<div class="performance-container">
  <div class="performance-content">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="performance-header">System Monitor</h3>
      </div>
    </div>
    <div class="row performance-row">
      <div class="col-xs-6">
        <p class="text-center">CPU architecture: {{monitorData.arch}}</p>
      </div>
      <div class="col-xs-6">
        <p class="text-center">Operating System: {{monitorData.name}}</p>
      </div>
    </div>
    <div class="row performance-row">
      <h4 class="performance-header">Current CPU load: {{monitorData.loadAverage | percent}}</h4>
      <monitor-chart [requestCount]="requestCount" [monitorData]="monitorData.loadAverage"
                     [monitorMax]="1"></monitor-chart>
    </div>
    <div class="row performance-row">
      <h4 class="performance-header">Current RAM used: {{monitorData.swapUsage | percent}}</h4>
      <monitor-chart [requestCount]="requestCount" [monitorData]="monitorData.swapUsage"
                     [monitorMax]="1"></monitor-chart>
    </div>
    <div class="row performance-row">
      <div class="col-xs-6">
        <p>Nr. of slaves</p>
      </div>
      <div class="col-xs-6">
        <p class="performance-number">{{monitorData.slaveCount}}</p>
      </div>
    </div>
    <div class="row performance-row">
      <div class="col-xs-6">
        <p>Avg. load of slaves (tweets in queue)</p>
      </div>
      <div class="col-xs-6">
        <p class="performance-number">{{monitorData.systemAvgSlavesLoad}}</p>
      </div>
    </div>
    <div class="row performance-row">
      <div class="col-xs-12">
        <h3 class="performance-header">Tweet Processing Monitor</h3>
      </div>
    </div>
    <div class="row performance-row">
      <div class="col-xs-6">
        <p>Tweet processing time (millisecs):</p>
      </div>
      <div class="col-xs-6">
        <p class="performance-number">{{monitorData.processingTime}}ms</p>
      </div>
    </div>
    <div class="row performance-row">
      <div class="col-xs-6">
        <p>Time for sentiment analysis (millisec.):</p>
      </div>
      <div class="col-xs-6">
        <p class="performance-number">{{monitorData.sentimentDetectionDuration}}ms</p>
      </div>
    </div>
    <div class="row performance-row">
      <div class="col-xs-6">
        <p>Time for language detection (millisec.):</p>
      </div>
      <div class="col-xs-6">
        <p class="performance-number">{{monitorData.languageDetectionDuration}}ms</p>
      </div>
    </div>
  </div>
</div>
