.active-terms{
  list-style: none;
  padding-left: 10px;
  max-height: 500px;
  overflow: auto;
}
.active-terms li{
  padding: 5px;
  margin: 5px 0;
}
.active-terms li:hover, .active-terms .active{
  background: #ddd;
  cursor: pointer;
}
.active-terms li a:hover{
  text-decoration: none;
}
.term-link{
  margin: 5px;
}
