<div class="row">
  <form>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="termSearch">Analyze Sentiments for:</label>
        <input name="termSearch" id="termSearch" [(ngModel)]="addedTermName" type="text" class="form-control">
      </div>
      <div class="form-group pull-right">
        <label for="evalBtn"></label>
        <button id="evalBtn" (click)="addTerm()" class="btn btn-success btn-block form-control" >Evaluate</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-xs-12">
  <ul class="active-terms">
    <li *ngFor="let s of activeTerms">
      <a (click)="sendToDisplay(s)">{{s.name}}
        <span class="pull-right">{{s.values[0]}}
          <a (click)="deleteTerm(s)">&times;</a>
        </span>
      </a>
    </li>
  </ul>
</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-danger btn-block" (click)="deleteAllTerms()">Delete All Terms</button>
  </div>
</div>
